body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 3.125em;
}

button#signOutBtn {
    display: block;
    margin: 0 auto;
    padding: 0.625em 1.25em;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
button#signOutBtn:hover{
  background-color: #555;
}
